
{% extends 'based/based.html' %}
{% block content %}
{% load static %}
        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section2 top-position1 bg-img cover-background text-start" data-overlay-dark="7" data-background="{% static 'img/ttvimg/event.jpg'%}">
            <div class="container">

                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-7 col-xxl-5">
                        <div class="title-style3">
                            <span>Get in touch</span>
                        </div>
                        <h1 class="text-white mb-0 text-shadow-large">Enquiry</h1>
                    </div>
                </div>

            </div>
        </section>

  
 

        <!-- CALL TO ACTIONS
        ================================================== -->
        <div class="mt-6 mt-sm-8 mt-lg-10 text-center mb-2-9 mb-lg-6 wow fadeIn" data-wow-delay="100ms">
        
        </div>

        <!-- CALL TO ACTIONS
        ================================================== -->
        <section class="mx-auto w-lg-95 w-xxl-85 bg-dark md z-index-9 border-radius-lg-10 overflow-visible wow fadeIn" data-wow-delay="200ms">
            <div class="container position-relative">
            
                <h3 class="text-white">TT Vision Holdings Berhad</h3>
                <div class="text-white w-xxl-85 h6 mb-3"><span style="font-size:15px">201801011030 (1273046-H)</span></div>
                <p class="text-white mb-3"><span style="font-size:20px">For any investor relations related enquiry, please contact</span></p>
                <div class="text-white w-xxl-85 h6  mb-3"><span style="font-size:20px">Ms Jennie Tan</span></div>
                <div class="text-white"><span style="font-size:18px">Plot 106, Hilir Sungai Keluang 5, Bayan Lepas Phase 4, </span></div>
                <div class="text-white"><span style="font-size:18px">11900, Penang, Malaysia. </span></div>
                <div class="text-white"><span style="font-size:18px">Tel: 604-6456294</span></div>
                <div class="text-white"><span style="font-size:18px">Fax: 604-6456295</span></div>
                <div class="text-white"><span style="font-size:18px">Email: <a href="mailto:enquiry@ttvision-tech.com" class="text-white"><u>sales@ttvision-tech.com</u></a></span></div>
            </div>
       
 

        </section>

        <!-- CALL TO ACTIONS
        ================================================== -->
        <div class="mt-6 mt-sm-8 mt-lg-10 text-center mb-2-9 mb-lg-6 wow fadeIn" data-wow-delay="100ms">
         
        </div>

   

        {% endblock content %}