

{% extends 'based/based.html' %}
{% load static %}
{% block content %}
      
        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section2 top-position1 bg-img cover-background text-start" data-overlay-dark="7" data-background="{% static 'img/ttvimg/event.jpg'%}">
            <div class="container">

                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-7 col-xxl-5">
                        <div class="title-style3">
                            <span>About US</span>
                        </div>
                        <h1 class="text-white mb-0 text-shadow-large">{{about}}</h1>
                    </div>
                </div>

            </div>
        </section>

        <!-- PORTFOLIO SINGLE
        ================================================== -->
        <section>
            <div class="container">
                <!--About us-->
                <div class="row justify-content-center">
                    <div class="col-lg-11">
                        <h2 class="mb-1-9 wow fadeIn" data-wow-delay="200ms">{{post.title}}</h2>
                        <div class="border-radius-10 p-1-9 mb-1-9 wow fadeInUp" data-wow-delay="200ms">
                            <div class="row text-center mt-n4">
                                <div class="text-center image-oval mb-2-9 wow fadeIn" data-wow-delay="200ms">
                                    <img src="media/{{post.postimg}}" class="border-radius-10" alt="...">
                                </div>
                            </div>
                        </div>
                        <div class="wow fadeIn" data-wow-delay="300ms">
                            <p>{{post.content|safe}}</p>
                            {{post.postxtracontent|safe}}
                        </div>
                    </div>
                </div>
                <!--Vision and Mission-->
                <div class="row justify-content-center">
                    <div class="col-lg-11">
                        <h2 class="mb-1-9 wow fadeIn" data-wow-delay="200ms">{{pv.bgtitle}}</h2>
                        <div class="border-radius-10 p-1-9 mb-1-9 wow fadeInUp" data-wow-delay="200ms">
                            <div class="row text-center mt-n4">
                                <div class="col-lg-6 mb-1-9 mb-lg-0 wow fadeIn" data-wow-delay="200ms">
                                    <img src="media/{{hero5.picture}}" class="rounded tilt" alt="...">
                                </div>
                            </div>
                        </div>
                        <div class="wow fadeIn" data-wow-delay="300ms">
                            <p>{{hero5.herocontent|safe}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% endblock content %}

   