
{% extends 'based/based.html' %}
{% block content %}
{% load static %}
        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section2 top-position1 bg-img cover-background text-start" data-overlay-dark="7" data-background="{% static 'img/ttvimg/event.jpg'%}">
            <div class="container">

                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-7 col-xxl-5">
                        <div class="title-style3">
                            <span>investor relations</span>
                        </div>
                        <h1 class="text-white mb-0 text-shadow-large">Financial Report</h1>
                    </div>
                </div>

            </div>
        </section>

  
 

        <!-- CALL TO ACTIONS
        ================================================== -->
        <div class="mt-6 mt-sm-8 mt-lg-10 text-center mb-2-9 mb-lg-6 wow fadeIn" data-wow-delay="100ms">
        
        </div>

        <!-- CALL TO ACTIONS
        ================================================== -->
        <section class="mx-auto w-lg-95 w-xxl-85 bg-dark md z-index-9 border-radius-lg-10 overflow-visible wow fadeIn" data-wow-delay="200ms">
            <div class="container text-center position-relative">
            
                <h3 class="text-white">Will Be Available Soon</h3>

            </div>
       
 

        </section>

        <!-- CALL TO ACTIONS
        ================================================== -->
        <div class="mt-6 mt-sm-8 mt-lg-10 text-center mb-2-9 mb-lg-6 wow fadeIn" data-wow-delay="100ms">
         
        </div>

   

        {% endblock content %}