   {% extends 'based/based.html' %}
   {% block content %}
   {% load static %}
   
   <!-- BANNER
        ================================================== -->
        <section class="top-position p-0">
            <div class="container-fluid px-0">
                <div class="slider-fade1 owl-carousel owl-theme w-100">
                    <div class="item bg-img cover-background pt-6 pb-10 pt-sm-6 pb-sm-14 py-md-16 py-lg-20 py-xxl-24" data-overlay-dark="0" data-background="/media/{{slide.picture}}">
                        <div class="container pt-6 pt-md-0">
                            <div class="row align-items-center">
                                <div class="col-md-10 col-lg-8 col-xl-7 col-xxl-6 mb-1-9 mb-lg-0 py-6 position-relative">
                                    <h1 style="display:none">TT Vision</h1>
                                    <span class="h5 text-secondary">{{slide.smtitle}}</span>
                                    <h3 class="display-17 display-sm-11 display-md-9 display-lg-8 display-xl-12 mb-3 title text-white">{{slide.bgtitle}}</h3>
                                   {{slide.slidecontet|safe}}
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
            <div class="triangle-shape top-15 right-10 z-index-9 d-none d-md-block"></div>
            <div class="square-shape top-25 left-5 z-index-9 d-none d-xl-block"></div>
            <div class="shape-five z-index-9 right-10 bottom-15"></div>
        </section>


        <!-- SERVICES
        ================================================== -->
        <section class="p-0 overflow-visible service-block">
            <div class="container">
                <div class="row mt-n1-9">
                    {% for smc in smcard %}
                    <div class="col-md-6 col-lg-4 mt-1-9">
                        <div class="card card-style1 h-100 primary-shadow">
                            <div class="card-body media p-1-6 p-sm-1-9">
                                <i class="{{smc.icon}}"></i>
                                <div class="media-body ms-4">
                                    <a href="{% url 'robotic' %}">
                                        <h4 class="h5">{{smc.cardcontent}}</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        
        <!-- ABOUT
        ================================================== -->
        <section>
            <div class="container pt-lg-4">
                <div class="row align-items-xl-center about-style1">
                    <div class="col-lg-6 mb-6 mb-md-8 mb-lg-0 wow fadeIn" data-wow-delay="200ms">
                        <div class="position-relative">
                            <div class="position-relative overflow-hidden pe-xl-7 pe-md-5">
                                <img src="media/{{hero1.picture}}" class="position-relative pb-1-9 z-index-1 rounded" alt="...">
                            </div>
                            <div class="shadow-block py-4 pe-4 ps-5 bg-dark rounded">
                                <i class="icon-trophy text-white opacity3"></i>
                                <p class="mb-0 text-uppercase font-weight-500 text-white alt-font lh-base"><span class="d-block font-weight-600 display-6 no-letter-spacing">{{hero1.experiance}}</span> years of <br> experince</p>
                            </div>
                            <div class="ani-left-right light-title text-primary opacity1 left-n10 bottom-75 alt-font d-none d-lg-block">{{hero1.transtext}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="400ms">
                        <div class="ps-xl-4">
                            <div class="mb-1-9">
                                <h2 class="cd-headline clip display-20 display-md-18 font-weight-600">{{hero1.titletxt}} <span class="cd-words-wrapper p-0 text-primary d-block d-sm-inline-block d-md-block d-xl-inline-block">
                                        {{hero1.txtanimator|safe}}
                                    </span>
                                </h2>
                            </div>
                         {{hero1.herocontent|safe}}
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="shape-five right-5 bottom-45 opacity3"></div>
        </section>


        <!-- COUNTER
        ================================================== -->
        
        <section class="bg-img cover-background" data-overlay-dark="8" data-background="img/bg/bg-15.jpg">
            <div class="container position-relative">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-1-9 mb-lg-0 wow fadeIn" data-wow-delay="200ms">
                        <div class="title-style3 mb-3">
                            <span>our achievement</span>
                        </div>
                        <h2 class="h1 mb-0 text-white">Some Little Facts About Our Company</h2>
                    </div>
                    <div class="col-lg-5">
                        <div class="row g-2">
                            <div class="col-sm-12 wow fadeIn" data-wow-delay="100ms">
                                <div class="counter-style border-radius-10 p-4 text-center h-100">
                                    <h3 class="h1 text-white"><span style="margin-right:10px">Over</span><span class="countup">3</span><span style="margin-left:10px">GW</span></h3>
                                    <p class="mb-0 text-white">Photovoltaic Production Capacity</p>
                                </div>
                            </div>
                            <div class="col-sm-12 wow fadeIn" data-wow-delay="100ms">
                                <div class="counter-style border-radius-10 p-4 text-center h-100">
                                    <h3 class="h1 text-white"><span style="margin-right:10px">Over</span><span style="margin-left:10px">Billion</span></h3>
                                    <p class="mb-0 text-white">Inspection Capacity</p>
                                </div>
                            </div>
                         
                         
                        </div>
                    </div>
                </div>

               



            </div>
        </section>
        
  
        <section>
        </section>



              <!-- PORTFOLIO
        ================================================== -->
        <section class="bg-light mx-lg-1-9 border-radius-10">
            <div class="container position-relative z-index-1">
                <div class="title-style3 text-center mb-2-3 mb-md-6 wow fadeIn" data-wow-delay="100ms">
                    <span>our services</span>
                    <h2 class="h1 mb-0">What We Do</h2>
                </div>
                <div class="row mt-n1-9">
                    <div class="col-md-6 col-xl-4 mt-1-9 wow fadeIn" data-wow-delay="200ms">
                        <div class="card card-style10 border-0 border-radius-10 ms-4">
                            <div class="position-relative">
                                <img src="media/{{hero7.img1}}" alt="...">
                            </div>
                            <div class="card-heading position-relative">
                                <h3 class="h5 mb-0 text-white"><a>{{hero7.bgtitle1}}</a></h3>
                                <i class="icon-magnifying-glass display-7 text-white opacity2 position-absolute top-n10 end-0"></i>
                            </div>
                         
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 mt-1-9 wow fadeIn" data-wow-delay="400ms">
                        <div class="card card-style10 border-0 border-radius-10 ms-4">
                            <div class="position-relative">
                                <img src="media/{{hero7.img2}}" alt="...">
                            </div>
                            <div class="card-heading position-relative">
                                <h3 class="h5 mb-0 text-white"><a>{{hero7.bgtitle2}}</a></h3>
                                <i class="icon-magnifying-glass display-7 text-white opacity2 position-absolute top-n10 end-0"></i>
                            </div>
                        
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 mt-1-9 wow fadeIn" data-wow-delay="600ms">
                        <div class="card card-style10 border-0 border-radius-10 ms-4">
                            <div class="position-relative">
                                <img src="media/{{hero7.img3}}" alt="...">
                            </div>
                            <div class="card-heading position-relative">
                                <h3 class="h5 mb-0 text-white"><a>{{hero7.bgtitle3|safe}}</a></h3>
                                <i class="icon-magnifying-glass display-7 text-white opacity2 position-absolute top-n10 end-0"></i>
                            </div>
                         
                        </div>
                    </div>
                </div>
            </div>
            <div class="round-shape-one top-n10 left-90"></div>
            <div class="ani-left-right light-title text-white opacity1 left bottom-n10 bottom-xl-n15 alt-font d-none d-lg-block z-index-0 wow fadeIn" data-wow-delay="200ms">services</div>
        </section>


     
        <!-- BLOG
        ================================================== -->
        <section>
     
        </section>

        {% endblock content %}