{% extends 'based/based.html' %}
{% block content %}
{% load static %}


        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section2 top-position1 bg-img cover-background text-start" data-overlay-dark="7" data-background="{% static 'img/ttvimg/service-2.png'%}">
            <div class="container">

                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-7 col-xxl-5">
                        <div class="title-style3">
                            <span>Beyond Innovative Solution</span>
                        </div>
       
                        <h1 class="text-white mb-0 text-shadow-large">PV Inspections, Test & Sort solutions</h1>
                    </div>
                </div>

            </div>
        </section>

        <!-- Machine 1
        ================================================== -->
        <section class="md">
            <div class="container">
           
                <div class="row align-items-xl-center">
                    <div class="col-lg-6 mb-2-3 mb-lg-0 wow fadeIn" data-wow-delay="200ms">
                        <div class="pe-lg-5">
                            <img src="{% static 'img/ttvimg/FRV-AOI.png'%}" alt="..." width="200" height="auto">
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="400ms">
                        <div class="ps-xl-5">
                            <div class="mb-1-9">
                                <div class="title-style3">
                                    <span>AOI Modules</span>
                                </div>
                                <h3 class="mb-0">AOI Vision Module</h3>
                            </div>
                            <p class="mb-1-9 text-dark">Key Features :</p>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-3"><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>High resolution (25MP/16K) Industrial Camera and In-house R&D RGB Illumination.</li>
                                <li class="mb-3"><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Accuracy up to 10μm.</li>
                                <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Image processing speed < 1sec, UPH4000.</li>
                                <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Robust and reliable defects detection inspection algorithm and multi-tier color sorting capabilities at narrow grey steps difference.</li>
                                <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Easy integration on production line or sorter.</li>
                                <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>User friendly GUI, conform to SEMI standard.</li>
                                <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Real time data availability for further analysis</li>
                                <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>English/Chinese GUI interchangeable</li>
                            </ul>
            
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- end of machine
        ================================================== -->

            <!-- Machine 1
        ================================================== -->
        <section class="md">
            <div class="container">
           
                <div class="row align-items-xl-center">
                    <div class="col-lg-6 mb-2-3 mb-lg-0 wow fadeIn" data-wow-delay="200ms">
                        <div class="pe-lg-5">
                            <img src="{% static 'img/ttvimg/visioncellsorter.png'%}" alt="...">
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="400ms">
                        <div class="ps-xl-5">
                            <div class="mb-1-9">
                                <div class="title-style3">
                                    <span>IBC Solar</span>
                                </div>
                                <h3 class="mb-0">IBC Solar Cell Sorter</h3>
                            </div>
                            <p class="mb-1-9">Key Features :</p>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-3"><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>3D line scan for rear side inspection</li>
                                <li class="mb-3"><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Combination of colour line and area scan for front side inspection</li>
                                <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>PL for micro-crack and solder pads defects inspection</li>
                                <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Infrared imaging for hot-spot measurement64-bit operating system</li>
                                <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Laser profilometerfor metal line profile measurementXeon processor</li>
                                <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Vision aligner for cell positioning and alignment for probing</li>
                                <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>I-V tester and advanced data analysis</li>
                                <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Interleaf paper placement before cell sorting</li>
                                <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Combination of belt and walking-beam conveyor for high speed and high stability cell transportation</li>
                                <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Throughput up to 2,400 cells per hour</li>
                                <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Capable of handling solar cells ranging from 5 inches to 6 inches.</li>
                            </ul>
                         
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- end of machine
        ================================================== -->
                   <!-- Machine 1
        ================================================== -->
        <section class="md">
            <div class="container">
           
                <div class="row align-items-xl-center">
                    <div class="col-lg-6 mb-2-3 mb-lg-0 wow fadeIn" data-wow-delay="200ms">
                        <div class="pe-lg-5">
                            <img src="{% static 'img/ttvimg/hjt.jpg'%}" alt="...">
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="400ms">
                        <div class="ps-xl-5">
                            <div class="mb-1-9">
                                <div class="title-style3">
                                    <span>HJT Solar</span>
                                </div>
                                    <span>HJT Solar Cell Sorter</span>
                                    <h3 class="mb-0"></h3>
                            </div>
                            <p class="mb-1-9">Key Features :</p>
                            <ul class="list-unstyled mb-0">
                               
                                <li class="mb-1"><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Vision and testing inspection capabilities incorporating the following:</li>
                                    <ul class="list-unstyled mb-2 mr-3" style="margin-left:50px">
                                        <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Front vision inspection module</li>
                                        <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Rear vision inspection module</li>
                                        <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>EL vision inspection</li>
                                        <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>I-V tester</li>
                                        <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Vision aligner for cell positioning</li>

                                    </ul>
                                <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Option to link 1 or 2 separate co-firing furnaces to 1 sorter</li>
                                <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>24 sorting bins and expandable</li>
                                <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Vacuum conveyor for stable and fast transportation.</li>
                                <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Throughput up to 3,200 cells per hour</li>

                            </ul>
                    
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- end of machine
        ================================================== -->
   

        <!-- SERVICES
        ================================================== -->
        <section class="md">
       
        </section>

        {% endblock content %} 