{% extends 'based/based.html' %}
{% load static %}
{% block content %}

        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section2 top-position1 bg-img cover-background text-start" data-overlay-dark="7" data-background="{% static 'img/ttvimg/service-1.png'%}">
            <div class="container">

                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-7 col-xxl-5">
                        <div class="title-style3">
                            <span>Beyond Innovative Solution</span>
                        </div>
       
                        <h1 class="text-white mb-0 text-shadow-large">Semiconductor/Led Inspection Solutions</h1>
                    </div>
                </div>

            </div>
        </section>

        <!-- Machine 1
        ================================================== -->
        <section class="md">
            <div class="container">
           
                <div class="row align-items-xl-center">
                    <div class="col-lg-6 mb-2-3 mb-lg-0 wow fadeIn" data-wow-delay="200ms">
                        <div class="pe-lg-5">
                            <img src="{% static 'img/ttvimg/semiconductor_product1.png' %}" alt="...">
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="400ms">
                        <div class="ps-xl-5">
                            <div class="mb-1-9">
                                <div class="title-style3">
                                    <span>AOI Machine</span>
                                </div>
                                <h3 class="mb-0">Wafer and Package AOI Equipment.</h3>
                            </div>
                            <p class="mb-1-9 text-dark">Key Features :</p>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-3"><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Optional5-sided and 6-sided surface inspection</li>
                                <li class="mb-3"><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>2.5D depth technology</li>
                                <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Modular and flexible</li>
                                <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>64-bit operating system</li>
                                <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Xeon processor</li>
                                <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Throughput ranging from 20,000 uph to 50,000 uph</li>
                                <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Camera resolution ranging from 5 megapixels at 75fps 12 megapixels at 66fps</li>
                            </ul>
                            <p class="mt-1-9 text-dark">Application :</p>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-3"><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Inspection after wafer dicing to detect surface defects.</li>
                                <li class="mb-3"><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Inspection after package singulation to detect package, mark, lead and plating defects.</li>

                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- end of machine
        ================================================== -->

            <!-- Machine 1
        ================================================== -->
        <section class="md">
            <div class="container">
           
                <div class="row align-items-xl-center">
                    <div class="col-lg-6 mb-2-3 mb-lg-0 wow fadeIn" data-wow-delay="200ms">
                        <div class="pe-lg-5">
                            <img src="{% static 'img/ttvimg/wire.jpg'%}" alt="...">
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="400ms">
                        <div class="ps-xl-5">
                            <div class="mb-1-9">
                                <div class="title-style3">
                                    <span>Wire Bond</span>
                                </div>
                                <h3 class="mb-0">Wire Bond AOI Equipment.</h3>
                            </div>
                            <p class="mb-1-9">Key Features :</p>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-3"><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Optional5-sided and 6-sided surface inspection</li>
                                <li class="mb-3"><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>2.5D depth technology</li>
                                <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Modular and flexible</li>
                                <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>64-bit operating system</li>
                                <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Xeon processor</li>
                                <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Throughput ranging from 20,000 uph to 50,000 uph</li>
                                <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Camera resolution ranging from 5 megapixels at 75fps 12 megapixels at 66fps</li>
                            </ul>
                            <p class="mt-1-9 text-dark">Application :</p>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-3"><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Inspection after wafer dicing to detect surface defects.</li>
                                <li class="mb-3"><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Inspection after package singulation to detect package, mark, lead and plating defects.</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- end of machine
        ================================================== -->
                   <!-- Machine 1
        ================================================== -->
        <section class="md">
            <div class="container">
           
                <div class="row align-items-xl-center">
                    <div class="col-lg-6 mb-2-3 mb-lg-0 wow fadeIn" data-wow-delay="200ms">
                        <div class="pe-lg-5">
                            <img src="{% static 'img/ttvimg/substrate.png'%}" alt="...">
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="400ms">
                        <div class="ps-xl-5">
                            <div class="mb-1-9">
                                <div class="title-style3">
                                    <span>Substrate</span>
                                </div>
                                <h3 class="mb-0">Substrate Package AOI Equipment</h3>
                            </div>
                            <p class="mb-1-9">Key Features :</p>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-3"><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Line Scan Technology</li>
                                <li class="mb-3"><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>2D Auto Inspection</li>
                                <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Very fast large panel Inspection</li>
                                <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Throughput up to 500 strips per hour</li>
                                <li><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Camera Resolution of 16000 Pixel at 47.5KHz Max Line Rate</li>

                            </ul>
                            <p class="mt-1-9 text-dark">Application :</p>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-3"><i class="fas fa-check-circle fs-5 mb-0 text-secondary align-middle me-2"></i>Inspection of lead frame substrate to detect etching, mechanical and plating defect.</li>
        

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- end of machine
        ================================================== -->
   

        <!-- SERVICES
        ================================================== -->
        <section class="md">
       
        </section>

        {% endblock content %}