{% extends 'based/based.html' %}
{% load static %}
{% block content %}
        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section2 top-position1 bg-img cover-background text-start" data-overlay-dark="7" data-background="{% static 'img/ttvimg/event.jpg'%}">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-7 col-xxl-5">
                        <div class="title-style3">
                            <span>Join Us</span>
                        </div>
                        <h1 class="text-white mb-0 text-shadow-large">Careers</h1>
                    </div>
                </div>

            </div>
        </section>
        <!-- TABLES
        ================================================== -->
        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <div class="mb-6 mb-lg-8 position-relative elements-block">
                            <div class="inner-title">
                                <h2 class="mb-0">Full Time/Part Time Jobs</h2>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Job Title</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--For loop to display all items in job-->
                                    {% for j in job %}
                                    <!--display only full time jobs-->
                                    {% if j.jobcat == 'Full Time' %}
                                    <tr class="expand-con">
                                        <td scope="row">
                                            <button class="expand-content" onclick="toggleContent({{ forloop.counter }})" row="{{ forloop.counter }}"><span id="chg-when-expand">+</span> {{ j.jobname }}</button>
                                            <span class="expanded-content" id="expanded-content{{ forloop.counter }}">{{ j.jobdesc }}</span>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="mb-6 mb-lg-8 position-relative elements-block">
                            <div class="inner-title">
                                <h2 class="mb-0">Internship</h2>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Job Title</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--For loop to display all items in job-->
                                    {% for j in job %}
                                    <!--display only internship jobs-->
                                    {% if j.jobcat == 'Internship' %}
                                    <tr class="expand-con">
                                        <td scope="row">
                                            <button class="expand-content" onclick="toggleContent({{ forloop.counter }})" row="{{ forloop.counter }}"><span id="chg-when-expand">+</span> {{ j.jobname }}</button>
                                            <span class="expanded-content" id="expanded-content{{ forloop.counter }}">{{ j.jobdesc }}</span>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6 mx-auto text-center">
                        <h2 class="md-6">Interested to join our team?</h2>
                        <p>Send your resume <a class='line' href="mailto:hr@ttvision-tech.com"><b>here</b></a> or apply <a href="{% url 'hrform' %}" class="font-weight-bold line"><b>here</b></a></p>
                    </div>
                </div>
            </div>
        </section>
        <script>
            function toggleContent(no) {
                var expandedContent = document.getElementById('expanded-content' + no);
                var chgB = document.querySelector('.expand-content[row="'+ no + '"]');
                
                //toggle to show the hidden content
                expandedContent.classList.toggle('show');

                //change the + to -
                chgB.forEach(function(chg){
                    var chgbutton = chg.querySelector('span');
                    if (expandedContent.classList.contains('show')) {
                        chgbutton.innerText = '-';
                    } else {
                        chgbutton.innerText = '+';
                    }
                });
            }
        </script>
        {% endblock content %}