{% extends 'based/based.html' %}
{% load static %}
{% block content %}

        <!-- PAGE TITLE
        ================================================== -->
        {% if rpv %}
        <section class="page-title-section2 top-position1 bg-img cover-background text-start" data-overlay-dark="7" data-background="{% static 'img/ttvimg/service-3.png'%}">
        {% elif ins %}
        <section class="page-title-section2 top-position1 bg-img cover-background text-start" data-overlay-dark="7" data-background="{% static 'img/ttvimg/service-2.png'%}">
        {% elif icled %}
        <section class="page-title-section2 top-position1 bg-img cover-background text-start" data-overlay-dark="7" data-background="{% static 'img/ttvimg/service-1.png'%}">
        {% else %}
        
        <section class="page-title-section2 top-position1 bg-img cover-background text-start" data-overlay-dark="7" data-background="{% static 'img/ttvimg/service-3.png'%}">
        
            {% endif %}
            <div class="container">

                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-7 col-xxl-5">
                        <div class="title-style3">
                            <!--<span>Robotic</span>-->
                        </div>
                        <h1 class="text-white mb-0 text-shadow-large">{{pr.producttitle}}</h1>
                    </div>
                </div>

            </div>
        </section>

        <!-- SERVICES
        ================================================== -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 order-2 order-lg-1">
                        <div class="pe-lg-4 pe-xl-5">
                            <!--
                            <div class="widget wow fadeInUp" data-wow-delay="200ms">
                                <h4 class="h5 mb-1-6">Downloads</h4>
                                <ul class="downloads m-0 p-0">
                                    <li><a href="#!"><i class="far fa-file-pdf bg-primary"></i><span class="label font-weight-600 bg-primary">Cataloge</span></a></li>
                                </ul>
                            </div>
                        -->
                            <div class="bg-img bg-dark cover-background rounded wow fadeInUp" data-wow-delay="200ms" data-overlay-dark="85" data-background="img/bg/bg-06.jpg">
                                <div class="position-relative z-index-9 text-center py-5 px-1-9">
                                    <i class="fa fa-smile-o  text-white mb-4 display-14"></i>
                                    <img src="{% static 'img/ttvimg/customer-service(2).png' %}" alt='Customer Service'/>
                                    <p>
                                    <h5 class="text-white mb-4">How can we help?</h5>
                                    <div class="separator-line-horrizontal-full bg-white opacity4 mb-4"></div>
                                    <ul class="text-center mb-0 list-unstyled ps-0">
                                        <li class="text-white mb-2"><i class="fa fa-phone small text-white me-2"></i><a href="tel:604-6456294" class="text-white">604-6456294</a></li>
                                        <li class="text-white"><i class="fa fa-envelope-open small text-white me-2"></i><a href="mailto:sales@ttvision-tech.com" class="text-white">sales@ttvision-tech.com</a></li>
                                        <li class="text-white"><i class="fa fa-mail-open small text-white me-2"></i><a href="{% url 'contact' %}" class="text-white"><b><u>Enquiry</u></b></a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-8 order-1 order-lg-2 mb-5 mb-lg-0">

                        <img src="{{pr.productimg.url}}" class="mb-2-9 rounded wow fadeIn" data-wow-delay="200ms" alt="...">
                        <div class="wow fadeIn" data-wow-delay="200ms">
                            <h2 class="mb-3">{{pr.producttitle}}</h2>
                            <h5>Description</h5>
                            <p>The Robotic Machine Tending system, featuring collaborative robots, customized tooling, and advanced vision capabilities, represents a forward-thinking approach to automation. It not only improves efficiency but also ensures the adaptability of your manufacturing processes in a collaborative and lights-out environment.</p>
                            <p><h5>Features</h5></p>
                            <ul class="list-style1 mb-2-9">
                                <li>Collaborative robots from Universal Robots (UR):<br/>
                                    Harness the power of collaborative robots from Universal Robots (UR). These advanced robots are designed to work alongside human operators, promoting a safe and efficient collaborative working environment.
                                </li>
                                <li>Tending one or multiple machines:<br/>
                                    The Robotic Machine Tending system is versatile and capable of tending to one or multiple machines simultaneously. This flexibility optimizes production efficiency and adapts to varying manufacturing needs.
                                </li>
                                <li>Customized end-effector and product trays:<br/>
                                    Tailor the robotic system to your specific manufacturing requirements with customized end-effectors and product trays. This customization ensures seamless integration and handling of diverse products and tasks.
                                </li>
                                <li>Post process quality vision inspection:<br/>
                                    Ensure the quality of the manufacturing process with post-process quality vision inspection. The robotic system incorporates advanced vision technology to inspect and verify the quality of the finished products.
                                </li>
                                <li>Operate under lights-out environment:<br/>
                                    Enhance operational efficiency by enabling the robotic system to operate under lights-out conditions. Lights-out manufacturing ensures continuous production, optimizing resource utilization and minimizing downtime.
                                </li>
                                <li>Cobot equipped mobile robot (AGV/AIV):<br/>
                                    Integrate collaborative robots (cobots) into a mobile robot system, such as an Automated Guided Vehicle (AGV) or Autonomous Intelligent Vehicle (AIV). This configuration enhances the flexibility and mobility of the robotic system, allowing it to adapt to dynamic manufacturing environments.
                                </li>
                            </ul>
                        </div>
                        <h2 class="mb-0">Specification</h2>
                        <div class="row mb-2 mt-0">
                            <div class="col-md-6 mt-1-9 wow fadeInUp" style="padding-right:5px" data-wow-delay="100ms">
                                <div class="process-style12 text-center bg-light-gray  p-2-2 p12 rounded">
                                    <span class="text-primary">Cobot Payload</span>
                                    <h3 class="h5 mb-3">3.5 and 10 kg</h3>
                                </div>
                            </div>
                            <div class="col-md-6 mt-1-9 wow fadeInUp" style="padding-left:5px" data-wow-delay="100ms">
                                <div class="process-style12 text-center bg-light-gray  p-2-2 p12 rounded">
                                    <span class="text-primary">Repeatability</span>
                                    <h3 class="h5 mb-3">Up to 30 micron</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2 mt-n1-9">
                            <div class="col-md-6 mt-1-9 wow fadeInUp" style="padding-right:5px" data-wow-delay="100ms">
                                <div class="process-style12 text-center bg-light-gray  p-2-2  p12 rounded">
                                    <span class="text-primary">Product Loading Format</span>
                                    <h3 class="h5 mb-3">Tray, Cassette, Magazine, etc.</h3>
                                   
                                </div>
                            </div>
                            <div class="col-md-6 mt-1-9 wow fadeInUp" style="padding-left:5px" data-wow-delay="100ms">
                                <div class="process-style12 text-center bg-light-gray  p-2-2 p12 rounded">
                                    <span class="text-primary">UPH</span>
                                    <h3 class="h5 mb-3">75</h3>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2 mt-n1-9">
                            <div class="col-md-12  mt-1-9 wow fadeInUp" data-wow-delay="100ms">
                                <div class="process-style12 text-center bg-light-gray  p-2-2 p12 rounded">
                                    <span class="text-primary">Vision Module Accuracy</span>
                                    <h3 class="h5 mb-3">+/- 10 Micron</h3>
                                  
                                   
                                </div>
                            </div>
                       
                        </div>
                        <div class="row mb-6 mt-n1-9">
                            <div class="col-md-12 mt-1-9 wow fadeInUp" data-wow-delay="100ms">
                                <div class="process-style12 text-center bg-light-gray  p-2-2  p12 rounded">
                                    <span class="text-primary">Facility Requirement </span>
                                    <h3 class="h5 mb-3">Power: 220-240 VAC Single Phrase 50/60Hz CDA: 0.6MPa.</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% endblock content %}