{% extends 'based/based.html' %}
{% load static %}
{% block content %}

        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section2 top-position1 bg-img cover-background text-start" data-overlay-dark="7" data-background="{% static 'img/ttvimg/event.jpg'%}">
            <div class="container">

                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-7 col-xxl-5">
                        <div class="title-style3">
                            <span>{{pv.smtitle}}</span>
                        </div>
                        <h1 class="text-white mb-0 text-shadow-large">{{pv.bgtitle}}</h1>
                    </div>
                </div>

            </div>
        </section>

        <section>
            <div class="container">
                <div class="row align-items-xl-center justify-content-center">
                    <div class="col-lg-6 mb-1-9 mb-lg-0 wow fadeIn" data-wow-delay="200ms">
                        <img src="media/{{hero5.picture}}" class="rounded tilt" alt="...">
                    </div>
                {{hero5.herocontent|safe}}
                </div>
            </div>
        </section>

        <!-- TEAM
        ================================================== -->
        <section class="pt-20 pt-lg-24">
        
        </section>

        {% endblock content %}

    