   <!-- FOOTER
        ================================================== -->
        <footer class="footer-style1 bg-ttvision">

            <div class="container">
                <div class="row">

                    <div class="col-lg-3 mb-1-9 mb-lg-0 wow fadeIn" data-wow-delay="200ms">
                        <img src="{{com.logo.url}}" class="mb-4" alt="ttv" />
                    
                        <p class="text-white w-xxl-85">201801011030 ( 1273046-H )</p>
        
                        <p class="mb-1-9 text-white w-xxl-85">Follow us on</p>
                        <div class="social-icons2">
                            <ul class="ps-0 mb-0">
                               
                                <li><a href="#!"><i class="fab fa-youtube"></i></a></li>
                              
                                <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-12 mb-1-9 pb-4 border-bottom border-color-light-white wow fadeIn" data-wow-delay="300ms">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <i class="ti-mobile display-20 text-primary"></i>
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h4 class="h5 text-white mb-1">Phone</h4>
                                                <p class="mb-0 text-white opacity8 small">Tel: 604-6456294</p>
                                                <p class="mb-0 text-white opacity8 small">Fax: 604-6456295</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <i class="ti-email display-20 text-primary"></i>
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h4 class="h5 text-white mb-1">Email</h4>
                                                <p class="mb-0 text-white opacity8 small">sales@ttvision-tech.com</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <i class="ti-map-alt display-20 text-primary"></i>
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h4 class="h5 text-white mb-1">Location</h4>
                                                <p class="mb-0 text-white opacity8 small">Plot 106, Hilir Sungai Keluang 5, Bayan Lepas Phase 4, 11900, Penang, Malaysia.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4 mb-1-9 mb-lg-0 wow fadeIn" data-wow-delay="400ms">
                                <h3>About Us</h3>
                                <ul class="ps-0 mb-0">
                                    <li><a href="services.html">Company Backgroud</a></li>
                                    <li><a href="team.html">Vision and Mission</a></li>
                                    <li><a href="contact.html">Award and Achievment</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-lg-4 mb-1-9 mb-lg-0 wow fadeIn" data-wow-delay="500ms">
                                <h3>Investor Relation</h3>
                                <ul class="ps-0 mb-0">
                                    <li><a href="portfolio.html">Overview</a></li>
                                    <li><a href="our-core-values.html">Financial Report</a></li>
                                    <li><a href="blog-post.html">Announcement</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="600ms">
                                
                               
                                
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="footer-bar wow fadeIn" data-wow-delay="200ms">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <p>&copy; <span class="current-year"></span> TT Vision Holdings Berhad 2022 <a href="#!" class="text-secondary text-primary-hover"></a></p>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
