   <!-- FOOTER
        ================================================== -->
        <footer class="footer-style1 bg-ttvision">

            <div class="container">
                <div class="row">

                    <div class="col-lg-3 mb-1-9 mb-lg-0 wow fadeIn" data-wow-delay="200ms">
                        <img src="{{com.logo.url}}" class="mb-4" alt="ttv" width="195">
                    
                        <div class="text-white w-xxl-85 h6"><span style="font-size:15px">201801011030 (1273046-H)</span></div>
        
                        <p class="mb-1-9 text-white w-xxl-85">Follow us on</p>
                        <div class="social-icons2">
                            <ul class="ps-0 mb-0">
                               
                                <li><a href="https://www.youtube.com/@ttvisiontechnologies"><i class="fab fa-youtube"></i></a></li>
                              
                                <li><a href="https://www.linkedin.com/company/ttvision-technologies/"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-12 mb-1-9 pb-4 border-bottom border-color-light-white wow fadeIn" data-wow-delay="300ms">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <i class="ti-mobile display-20 text-primary"></i>
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h4 class="h5 text-white mb-1">Phone</h4>
                                                <p class="mb-0 text-white opacity8 small">Tel: 604-6456294</p>
                                                <p class="mb-0 text-white opacity8 small">Fax: 604-6456295</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <i class="ti-email display-20 text-primary"></i>
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h4 class="h5 text-white mb-1">Email</h4>
                                                <p class="mb-0 text-white opacity8 small">sales@ttvision-tech.com</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <i class="ti-map-alt display-20 text-primary"></i>
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h4 class="h5 text-white mb-1">Location</h4>
                                                <p class="mb-0 text-white opacity8 small">Plot 106, Hilir Sungai Keluang 5, Bayan Lepas Phase 4, 11900, Penang, Malaysia.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4 mb-1-9 mb-lg-0 wow fadeIn" data-wow-delay="400ms">
                                <h3>About Us</h3>
                                <ul class="ps-0 mb-0">
                                    <li><a href="{% url 'cb' %}">Company Background</a></li>
                                    <li><a href="{% url 'vision' %}">Vision and Mission</a></li>
                                    <li><a href="{% url 'award' %}">Award and Achievement</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-lg-4 mb-1-9 mb-lg-0 wow fadeIn" data-wow-delay="500ms">
                                <h3>Investor Relations</h3>
                                <ul class="ps-0 mb-0">
                                   
                                    <li><a href="{% url 'investor' %}">Announcements</a></li>
                                    <li><a href="{% url 'cg' %}">Corporate Governance</a></li>
                                    <li><a href="{% url 'fr' %}">Financial Summary</a></li>
                                    <li><a href="{% url 'callinaction' %}">Enquiry</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="600ms">
                                <h3>Newsletter</h3>
                             

                                    <div class="quform-elements">

                                        <div class="row">
                                           

                                            <!-- Begin Submit button -->
                                            <div class="col-md-12 ">
                                                <div class="quform-submit-inner">
                                                    <button class="butn shadow-none white medium m-0 w-100 " data-bs-toggle="modal" data-bs-target="#grid" type="submit">Subscribe</button>
                                                </div>
                                               
                                            </div>
                                            <!-- End Submit button -->
                                        </div>
                                    </div>
                               
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <!-- Using the grid modal -->
<div class="modal fade" id="grid" tabindex="-1" aria-labelledby="gridLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="gridLabel">Newsletter</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row mb-4">
                        <div class="col-md-12">
                            
                            <form id="modalform" action="{% url 'newletter'%}" method="post" enctype="multipart/form-data" onclick="">
                                {% csrf_token %}
		
                                <div class="quform-elements">

                                    <div class="row">
                                        <!-- Begin Text input element -->

                                        <div class="col-md-12 mb-2">
                                            <div class="quform-element mb-0">
                                                <div class="quform-input">
                                                    <label for="name">Name <span class="quform-required">*</span></label>
                                                    {{form2.newname}}
                                                    <small class="text-danger"></small>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Text input element -->

                                     
                                    </div>
                                    <div class="row">
                                        <!-- Begin Text input element -->
                                        <div class="col-md-12 mb-2">
                                            <div class="quform-element mb-0">
                                                <div class="quform-input">
                                                    <label for="company">Company Name<span class="quform-required">*</span></label>
                                                    {{form2.company}}
                                                    <small class="text-danger"></small>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Text input element -->

                                     
                                    </div>
                                    <div class="row">
                                        <!-- Begin Text input element -->
                                        <div class="col-md-12">
                                            <div class="quform-element mb-0">
                                                <div class="quform-input">
                                                    <label for="email">Email Address <span class="quform-required">*</span></label>
                                                    {{form2.mailaddress}}
                                                    <small class="text-danger"></small>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Text input element -->

                                     
                                    </div>
                                </div>
                           
                        </div>
                     
                    </div>
                  
                    
               
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="butn-style1" type="submit"><span>Send Message</span></button>
            </div>
        </form>
        </div>
    </div>
</div>
                    

            <div class="footer-bar wow fadeIn" data-wow-delay="200ms">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <a href="{% url 'term' %}">Terms and Conditions</a>
                            <p>Copyright &copy; <span class=""></span> TT Vision Holdings Berhad 2022. All rights reserved <a href="#!" class="text-secondary text-primary-hover"></a></p>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
