<head>
    {% load static %}
    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Website Design Templates">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="https://www.ttvision-tech.com/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Our high performance PC-based vision system offers solutions for a wide-range of industry from Semiconductor, PCB assembly, lead frame, pharmaceutical, medical and many more.">
    <meta name="description" content="TT Vision Holdings Berhad - Advanced Machine Vision">

    <!-- title  -->
    <!--Added additional info to title to make it unique for each page-->
    <title>{{com.companyname}}   
      {% if title %}
      | {{title}}
      {% if news %}
       page {{newss}}
      {% endif %}
    </title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png">
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">

    <!-- search css -->
    <link rel="stylesheet" href="{% static 'search/search.css' %}">

    <!-- quform css -->
    <link rel="stylesheet" href="{% static 'quform/css/base.css' %}">

    <!-- theme core css -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

    <link rel="stylesheet" href="{% static 'justifiedGallery/justifiedGallery.min.css' %}" />
   

    <!-- custom css -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'css/mystryle.css' %}" rel="stylesheet">

    <!-- custom css -->
    <link href="{% static 'css/plugins/timeline.css' %}" rel="stylesheet">

    <style>
      .pdfobject-container { height:70rem; width:100%; border: 1rem solid rgba(0,0,0,.1); }
      </style>

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NJLE7WSYSV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NJLE7WSYSV');
</script>

  <meta property="og:url" content="{{meta.urlcontent}}" />
	<meta property="og:type" content="{{meta.typecontent}}" />
	<meta property="og:title" content="{{meta.titlecontent}}" />
	<meta property="og:description" content="{{meta.description}}" />
	<meta property="og:image" content="{{meta.imagelink}}" />
	<meta property="og:image:width" content="600" />
	<meta property="og:image:height" content="315" />



</head>
