{% load static %}
<nav class="navbar navbar-expand-lg navbar-light p-0">

    <div class="navbar-header navbar-header-custom">
        <!-- start logo -->
        <a href="{% url 'index' %}" class="navbar-brand logodefault"><img id="logo" src="{% static 'img/ttvimg/logo.png' %}" alt="logo"></a>
        <!-- end logo -->
    </div>

    <div class="navbar-toggler"></div>

    <!-- menu area -->
   <!-- menu area -->
   <ul class="navbar-nav align-items-lg-center ms-auto" id="nav" style="display: none;">
    <li><a href="{% url 'index' %}">Home</a>
      
    </li>
    <li><a href="#!">About Us</a>
        <ul>

            <li><a href="{% url 'cb' %}">Company Backgroud</a></li>
            <li><a href="{% url 'vision' %}">Vision and Mission</a></li>
            <li><a href="{% url 'award' %}">Awards and Achievments</a></li>
           
        </ul>
    </li>
    <li><a href="#!">Products and Solutions</a>
        <ul>
            <li><a href="{% url 'semiconductorlist' %}">Semiconductor/LED Inspection Solutions</a></li>
            <li><a href="{% url 'pvinspect' %}">PV Inspection, Test and Sort Solutions</a></li>
            <li><a href="{% url 'robotic' %}">Advanced Robotic Solutions</a></li>
      
        </ul>
    </li>
    <li><a href="#!">News and Events</a>
        <ul>
            <li><a href="{% url 'newslist' %}">News</a></li>
            <li><a href="{% url 'press' %}">Press Releases</a></li>
          
            <li><a href="{% url 'event' slug='universal-robots-on-tour' %}">Events</a></li>
            
        </ul>
    </li>
    <li><a href="#!">Investor Relations</a>
        <ul>
            <!--
            <li><a href="#">Overview</a></li>
            <li><a href="#">Financial Report</a></li>-->
            <li><a href="{% url 'investor' %}">Announcements</a></li>
          
            
        </ul>
    </li>
    <li><a href="{% url 'career' %}">Careers
    </a>
      
    </li>
 
</ul>
    <!-- end menu area -->

    <!-- start attribute navigation -->
    <div class="attr-nav align-items-lg-center ms-lg-auto">
        <ul>

            <li class="d-none d-xl-inline-block"><a href="{% url 'contact' %}" class="butn dark medium text-white">Contact Us</a></li>
        </ul>
    </div>
    <!-- end attribute navigation -->

</nav>