 <!-- SCROLL TO TOP
   
    ================================================== -->
    {% load static %}
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

    <!-- all js include start -->

    <!-- jquery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <!-- popper js -->
    <script src="{% static 'js/popper.min.js' %}"></script>

    <!-- bootstrap -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- navigation -->
    <script src="{% static 'js/nav-menu.js' %}"></script>

    <!-- serch -->
    <script src="{% static 'search/search.js' %}"></script>

    <!-- owl carousel -->
    <script src="{% static 'js/owl.carousel.js' %}"></script>

    <!-- thumbs js -->
    <script src="{% static 'js/owl.carousel.thumbs.js' %}"></script>

    <!-- tab -->
    <script src="{% static 'js/easy.responsive.tabs.js' %}"></script>

    <!-- jquery.counterup.min -->
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>

    <!-- stellar js -->
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>

    <!-- waypoints js -->
    <script src="{% static 'js/waypoints.min.js' %}"></script>

    <!-- countdown js -->
    <script src="{% static 'js/countdown.js' %}"></script>

    <!-- jquery.magnific-popup js -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>

    <!-- lightgallery js -->
    <script src="{% static 'js/lightgallery-all.js' %}"></script>

    <!-- mousewheel js -->
    <script src="{% static 'js/jquery.mousewheel.min.js' %}"></script>

    <!-- isotope.pkgd.min js -->
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>

    <!-- animated headline js -->
    <script src="{% static 'js/animated-headline.js' %}"></script>

    <!-- wow js -->
    <script src="{% static 'js/wow.js' %}"></script>

    <!-- lettering js -->
    <script src="{% static 'js/jquery.lettering.js' %}"></script>

    <!-- textillate js -->
    <script src="{% static 'js/jquery.textillate.js' %}"></script>

    <!-- tilt js -->
    <script src="{% static 'js/tilt.js' %}"></script>

    <!--  clipboard js -->
    <script src="{% static 'js/clipboard.min.js' %}"></script>

    <!--  prism js -->
    <script src="{% static 'js/prism.js' %}"></script>

    <!-- custom scripts -->
    <script src="{% static 'js/main.js' %}"></script>

    <!-- form plugins js -->
    <script src="{% static 'quform/js/plugins.js' %}"></script>

    <!-- form scripts js -->
    <script src="{% static 'quform/js/scripts.js' %}"></script>

   <!-- form scripts js -->
   <script src="{% static 'js/frmvalid.js' %}"></script>

 

    <!-- all js include end -->
