.lop p{
    display: none;
}

/* Product mainpage */
.pd {
    text-align: justify;
    padding: 0 20px 0 20px;
} 

h5.just {
    text-align: justify;
    margin: 3.5rem 200px 0 200px;
}

/* Career page */
a.line {
    text-decoration: underline;
}

.expand-con {
    max-height: 200px;
}

.expand-content {
    background-color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    margin: 0 2px 0 2px;
}

.expanded-content { 
    display: block;  
    max-height: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    opacity: 0;
}

.expanded-content.show {
    display: block;
    max-height: 500px;
    opacity: 1;
}